WorkplaceApi/workplaceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WorkplaceEmployee"
    targetNamespace="http://tempuri.org/"
    xmlns:tns="http://tempuri.org/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">

    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/">
            <!-- <xsd:complexType name="EmployeeType">
                <xsd:sequence>
                    <xsd:element name="firstName" type="xsd:string"/>
                    <xsd:element name="lastName" type="xsd:string"/>
                    <xsd:element name="homeAddres" type="xsd:string"/>
                    <xsd:element name="currentSalary" type="xsd:double"/>
                    <xsd:element name="position" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="EmployeeList">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute wsdl:arrayType="tns:EmployeeType[]" ref="SOAP-ENC:arrayType"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType> -->
            <xsd:complexType name="StingList">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute wsdl:arrayType="xsd:string[]" ref="SOAP-ENC:arrayType"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="WorkplaceType">
                <xsd:sequence>
                    <xsd:element name="_id" type="xsd:integer"/>
                    <xsd:element name="companyName" type="xsd:string"/>
                    <xsd:element name="description" type="xsd:string"/>
                    <xsd:element name="industry" type="xsd:string"/>
                    <xsd:element name="website" type="xsd:string"/>
                    <xsd:element name="specialities" type="tns:StingList"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="PostionType">
                <xsd:sequence>
                    <xsd:element name="_id" type="xsd:integer"/>
                    <xsd:element name="id" type="xsd:integer"/>
                    <xsd:element name="workplaceId" type="xsd:integer"/>
                    <xsd:element name="positionName" type="xsd:string"/>
                    <xsd:element name="location" type="xsd:string"/>
                    <xsd:element name="workTimeNorm" type="xsd:string"/>
                    <xsd:element name="description" type="xsd:string"/>
                    <xsd:element name="requirements" type="tns:StingList"/>
                    <xsd:element name="salary" type="xsd:integer"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="EmptyType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="IdType">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:integer"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="TwoIdsType">
                <xsd:sequence>
                    <xsd:element name="_id" type="xsd:integer"/>
                    <xsd:element name="id" type="xsd:integer"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="RequestAllWorkplacesMessage">
        <wsdl:part name="Empty" type="tns:EmptyType"/>
    </wsdl:message>
    <wsdl:message name="ReturnAllWorkplacesMessage">
        <wsdl:part name="Workplace" type="tns:WorkplaceType"/>
    </wsdl:message>

    <wsdl:portType name="WorkplacePortType">
        <wsdl:operation name="SendRequest">
            <wsdl:input message="tns:RequestAllWorkplacesMessage"/>
            <wsdl:output message="tns:ReturnAllWorkplacesMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="WorkplaceServiceBinding" type="tns:WorkplacePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SendRequest">
            <soap:operation soapAction="SendRequest">
                <wsdl:input>
                    <soap:body use="literal"/>
                </wsdl:input>
                <wsdl:output>
                    <soap:body use="literal"/>
                </wsdl:output>
            </soap:operation>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="WorkplaceService">
        <wsdl:port name="WorkplaceServiceSoapPort" binding="tns:WorkplaceServiceBinding">
            <soap:address location="http://localhost:80/wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
    